<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/estilos') %>
    <title>Node</title>
</head>
<body>
    <%- include('partials/navegacion') %>
    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <img src="/img/logo_node.png" alt="Logo_NodeJS" class="w-50">
    </header>
    
</body>
</html>