<footer class="bg-dark pt-4 pb-4">
    <div class="container w-100 d-flex justify-content-around">
        <div>
            <h3><b>Redes Sociales</b></h3>
            <ul>
                <li><a class="estilos-links" href="https://www.facebook.com/groups/1339948533119446" target="_blank"><i class="bi bi-facebook estilos-links-icons"></i><b>Facebook</b></a></li>
                <li><a class="estilos-links" href="https://www.instagram.com/nelsonmunoz.11/" target="_blank"><i class="bi bi-instagram estilos-links-icons"></i><b>Instagram</b></a></li>
                <li><a class="estilos-links" href="https://www.tiktok.com/@nelsonmunoz11" target="_blank"><i class="bi bi-tiktok estilos-links-icons"></i><b>Tik Tok</b></a></li>
                <li><a class="estilos-links" href="https://github.com/Ginto11" target="_blank"><i class="bi bi-github estilos-links-icons"></i><b>Github</b></a></li>
                <li><a class="estilos-links" href="https://wa.me/3014304546?" target="_blank"><i class="bi bi-whatsapp estilos-links-icons"></i><b>Whatsapp</b></a></li>
            </ul>
        </div>
        <div>
            <div>
                <h3><b>Información contacto</b></h3>
                <ul>
                    <li><b><i class="bi bi-geo-alt-fill estilos-links-icons"></i>Direción:</b> Calle 19A BIS #116 - 73</li>
                    <li><b><i class="bi bi-telephone-fill estilos-links-icons"></i>Telefono:</b> 3014304546</li>
                    <li><b><i class="bi bi-envelope-at-fill estilos-links-icons"></i>Email:</b> empresa.nvs@gmail.com</li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <h3><b>Desarrollado por</b></h3>
                <ul>
                    <li><a class="estilos-links" href="https://github.com/Ginto11" target="_blank"><i class="bi bi-github estilos-links-icons"></i>Nelson Muñoz</a></li>
                </ul>
            </div>
            <div>
                <h3><b>Política de Privacidad</b></h3>
                <div">
                    <ul>
                        <li><a class="btn-descargar-politica estilos-links" href="/documents/Política-de-Privacidad.docx"><i class="bi bi-download estilos-links-icons"></i>Descargar.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>